* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  margin-bottom: 15px;
  padding: 25px;
  text-align: center;
  color: #fff;
  background: #4f4f4f;
  border-bottom: 5px solid #2f2f2f;
}
.container {
  flex: 1;
}
footer {
  padding: 25px;
  text-align: center;
  color: #fff;
  background: #4f4f4f;
  border-top: 5px solid #2f2f2f;
}

#message-box {
  margin: 10px 5px;
}

#chat-active-users {
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat-display-username {
  padding: 3px 0;
}

.input-group-apped {
  margin: 0 5px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
